- current_user.stores.each do |store|
  %h2= store.name
  - if store.message
    .row
      .span6.well#urgent_message=store.message.gsub("\n","<br />").html_safe
  %table.table.table-striped.table-bordered
    %tr
      %th Proof Deadline
      %th In Home Date
      %th
      %th
    - store.proofs.each do |proof|
      %tr{:id => "proof_#{proof.id}"}
        %td=proof.proof_deadline.strftime("%m-%d-%y")
        %td=proof.in_home_date.strftime("%m-%d-%y")
        %td
          -if proof.state == "sent_to_client"
            .label.label-important Action Required
          -if proof.state == "ready_for_print"
            .label.label-success Ready for print with any noted changes
          -if proof.state == "resubmit_with_changes"
            .label.label-warning Revised proof will be resubmitted
        %td
          = link_to "View Proof", proof_path(proof)
