%h1 Proofs
%table.table.table-striped.table-bordered
  %tr
    %th Proof Created At
    %th Print Deadline
    %th In Home Date
    %th Name
    %th
    %th
  -current_user.proofs.each do |proof|
    %tr
      %td=proof.created_at.strftime("%m-%d-%y")
      %td N/A
      %td N/A
      %td N/A
      %td
        .label.label-important Action Required
      %td
        = link_to "View Proof", proof_path(proof)
