%h1=current_user.name
=form_for(@proof) do |f|
  .row
    .span6.well=@proof.urgent_message.gsub("\n","<br />").html_safe
  .row
    .span4
      %label.radio
        =radio_button_tag :approval, :no_changes, true
        Approved No Changes
      %br
      %br
      %br
      %br
      %label.radio
        =radio_button_tag :approval, :approved_with_changes
        Approved Provided changes listed below
      %br
      %br
      %br
      %br
      %label.radio
        =radio_button_tag :approval, :resubmit_proof
        Resubmit proof with the changes listed below
    .span3
      =link_to "#{image_tag @proof.pdf.url(:thumb)}".html_safe, @proof.pdf.url(:original), :class => "proof_image", :target => "_blank"
      %br
      %br
      =link_to "Open/Download Proof", @proof.pdf.url(:original), :class => "btn", :target => "_blank"
      %br
      %br
    .span7
      =f.text_area :proof_changes, :class => "span6", :rows => 10
    .span7
      =f.submit "Submit", :class => "btn"
